* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    height: 100vh;
    margin-top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 20px 20px 0;
}

.sidebar-closed{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50px;
    height: 100vh;
    margin-top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 20px 20px 0;
}

.sidebar-wrapper-opend {
    z-index: 5;
    position: fixed;
    width: 250px;
}

.sidebar-wrapper-closed {
    z-index: 5;
    position: fixed;
    width: 50px;
}

.sidebar-title {
    margin-left: 10px;
}

.sidebar-title-closed {
    margin-right: auto;
    margin-left: auto;
}


.sidebar-item-closed {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    margin-top: 5px;
}

.sidebar-item:hover {
    cursor: pointer;
}

.sidebar-closed:hover {
    cursor: pointer;
}

.sidebar-header {
    font-size: 18px;
    margin-left: 15px;
    color: grey;
}

.sidebar-item {
    margin-top: 5px;
    margin-left: 25px;
}


.sidebar-credits {
    padding: 10px;
    border-top: 1px solid lightgray;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.sidebar-credits-closed {
    padding: 5px;
    border-top: 1px solid lightgray;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.sidebar-credits-img-container-closed {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-credits-img-container {
    width: 20%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-credits-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;

}

.sidebar-credits-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide-menu {
    background-color: black;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    color: white;
    top: 50%;
    z-index: 10;
    left: 225px;
}

.hide-menu:hover {
    cursor: pointer;
}

.open-menu:hover {
    cursor: pointer;
}

.hide-icon {
    vertical-align: bottom;
    font-size: 24px;
}

.open-menu {
    background-color: black;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    color: white;
    top: 50%;
    z-index: 10;
    left: 25px;
}

.open-icon {
    vertical-align: bottom;
    font-size: 24px;
}

.sidebar-credits-email {
    font-size: 12px;
}

.react-icon {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: bottom;
}

.main {
    position: relative;
    z-index: 1;
}

.node {
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.node-label {
    font-size: 20px;
    font-weight: 800;
}